<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meme Stream</title>
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f3722c;">
        <div class="container">
            <a class="navbar-brand text-white" href="{% url 'home' %}">Meme Stream</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="{% url 'swagger-ui' %}">Post Meme</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'swagger-ui' %}">API</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-light" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
    <footer>
        <p>Made with ❤ By Ravi Chaudhary</p>
    </footer>
    <script src="{% static 'dashboard/js/jquery.js'  %}"></script>
    <script src="{% static 'dashboard/js/popper.js'  %}"></script>
    <script src="{% static 'dashboard/js/bootstrap.js'  %}"></script>
</body>

</html>